.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin-top: 10px;
}

.txtWel {
  color: "#000000";
  font-size: "20px";
  font-weight: "bold";
  align-self: "center";
}

/* for login input */

.all-btn button {
  box-shadow: 0px 4px 4px 0px #FFFFFF52 inset !important;
}